body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 5500px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
.Menu{
    height: 100px;
    width: auto;
    position: relative;
    background-color: rgb(214, 0, 28);
}
.Menu > ul{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: justify;
    right: 0;
    
}
.Menu > ul > li {
    list-style-type: none;
    margin: 0 -290px;
    margin-right: 400px;
    font-size: 30px;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-family: 'M PLUS Rounded 1c';
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-top: -60px;
}
.logo{
   position: relative;
    height: 70px;
    width: 270px;
    margin-top: 15px;
    margin-left: 50px;
}
.line{
    height: 10px;
    width: auto;
    background-color: rgb(255, 149, 32);
}

.order{
    display: flex;
    height: 60px;
    width: 200px;
    border-radius: 5cap;
    margin-top: -67px;
    margin-right: 60px;
    background-color: rgb(251, 128, 0);
    position: absolute;
    right: 0;
}
.nav-button {
    margin-top: 4px;
    margin-left: 19px;
   font-family: 'M PLUS Rounded 1c';
   color: rgb(255, 255, 255);
}
    
.banner{
    display: flex;
    height: 450px;
    width: auto;
    background-image: linear-gradient(to left, #980404, #9f0505, #a70606, #ae0707, #b60808, #c9212f, #d8384f, #e34f6f, #ea80ab, #e8aed8, #ebd9f3, #ffffff);
    position: relative;
    
    
}
.banner img{
    height: 450px;
    width: 850px;
    position: absolute;
    margin-top: 1px;
    margin-left: -60px;
}
.text{
    right: 0;
    font-size: 45px;
    margin-right: 300px;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c';
    position: absolute;
}
.text h1{
   color: rgb(255, 255, 255);
   text-align: center;
}
.text b{
    color: rgb(251, 128, 0);
    right: 0;
}
.text h3{
    font-size: 35px;
    margin-top: -70px;
   color: rgb(255, 255, 255);
   text-align: center;
}
.favorites{
    display: flex;
    position: relative;
    height: 1000px;
    width: 100%;
    background-color: rgb(255, 234, 184);
    margin-top: 10px;
    
}
.texts{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c';
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-top: -900px;
    margin-left: 750px;
}
.red{
    position: absolute;
    height: 650px;
    border-radius: 2cap;
    width: 550px;
    background-color: rgb(214, 0, 28);
    margin-left: 60px;
    margin-top: 150px;
    left: 0;
}
.red img{
    margin-left: 120px;
    margin-top: 30px;
    height: 300px;
    width: 280px;
}
.yellow{
    position: absolute;
    height: 650px;
    border-radius: 2cap;
    width: 550px;
    background-color: rgb(255, 164, 1);
    margin-left: 680px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
.yellow img{
    margin-left: 30px;
    margin-top: 20px;
    height: 350px;
    width: 500px;
}
.blue{
    position: absolute;
    height: 650px;
    border-radius: 2cap;
    width: 550px;
    background-color: rgb(0, 156, 165);
    margin-top: 150px;
    margin-right: 60px;
    right: 0;
}
.blue img{
    margin-left: 70px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}
.favorites h1{
   margin-top: 30px ;
   margin-left: 30px;
   font-family: 'M PLUS Rounded 1c';
   color: #ffffff;
   font-size: 50px;
}
.favorites h2{
    margin-left: 50px;
    font-family: 'M PLUS Rounded 1c';
    color: #ffffff;
    font-size: 30px;
}
.view{
    display: flex;
    height: 70px;
    width: 300px;
    border-radius: 5cap;
    background-color: rgb(251, 128, 0);
    bottom: 0;
    margin-left: 800px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 50px;
}
.view h3{
    font-family: 'M PLUS Rounded 1c';
    color: #ffffff;
    font-size: 40px;
}
.promos{
    height: 1080px;
    width: 100%;
    background-color: rgb(255, 234, 184);
    margin-top: -25px;
    position: relative;
}
.promos h1{
    font-family: 'M PLUS Rounded 1c';
    font-size: 50px;
    color: rgb(202, 0, 3);
    text-align: center;
}
.pormo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-content: center;
}
.pormo img{
    margin-left: 39px;
    width: 550px;
    height: 400;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.see{
    height: 70px;
    width: 300px;
    border-radius: 5cap;
    background-color: rgb(251, 128, 0);
    position: absolute;
    margin-bottom: 45px;
    bottom: 0;
    margin-left: 800px;
}
.see h2{
    font-family: 'M PLUS Rounded 1c';
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 13px;
}
.line2{
    height: 10px;
    width: auto;
    background-color: rgb(0, 156, 165);
    margin-top: 198px;
}
.shapes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: -10px;
    justify-content: center;
    margin-bottom: 20px;
}

.shape-item1 {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 5cap; /* Adjust this for different shapes */
    background-color: #980404;
    margin-top: 250px;
    margin-left: 400px;
}
.shape-item2 {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 5cap; /* Adjust this for different shapes */
    background-color: rgb(0, 156, 165);
    margin-top: 250px;
    margin-left: 200px;
}

.image1 {
    width: 400px;
    height: 400px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 5cap; /* Adjust this for different shapes */
}
.image2 {
    width: 400px;
    height: 400px;
    margin-top: -50px;
    margin-left: 50px;
    border-radius: 5cap; /* Adjust this for different shapes */
}
.cores h1{
    font-family: 'M PLUS Rounded 1c';
    font-weight: 1000;
    font-size: 30px;
    margin-left: 500px;
}
.cores p{
    font-family: 'Rubik';
    font-size: 15px;
}
















/*.message{
     position: relative;
     height: 1000px;
     width: auto;
     background-color: #ffffff;
     margin-top: 10px;
    /*display: grid;
    height: 1080px;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 234, 184);
    margin-top: 10px;
    position: absolute;
   
}
.image-description-item1{
    height: 400px;
    width: 400px;
    border-radius: 3cap;
    background-color: rgb(202, 0, 3);
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 450px;

}

.image-description-item2{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 3cap;
    background-color: rgb(0, 156, 165);
    margin-top: -450px;
    flex-direction: column;
    margin-left: 650px;

}
*/







/*.image-description-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.image-description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

